{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <section class="article-top">

    <header class="article-header">
      <h1>{{ .Title }}</h1>
      <div class="sub">
        <time>{{ .Date.Day }} de {{ index $.Site.Data.months (printf "%d" .Date.Month) }} de {{ .Date.Year }}</time>
        <span>{{ partial "categories.html" .}}</span>
      </div>
      <p><strong>{{ .Summary }}</strong></p>
      <p>Tiempo de lectura {{ .ReadingTime }} minutos</p>
    </header>

  </section>
  <section class="article-bottom">

    <main class="article-main">{{ .Content }}</main>

  </section>
{{ end }}
