{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  {{ .Content }}

  {{ range .Pages }}
    <article class="site-article">

      <header class="post-header">
        <div>
          <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <div class="sub">
            <time>{{ .Date.Day }} de {{ index $.Site.Data.months (printf "%d" .Date.Month) }} de {{ .Date.Year }}</time>
            <span>{{ partial "categories.html" .}}</span>
          </div>
        </div>
      </header>

      <!-- <main>
        <p>{{ .Summary }}</p>
      </main> -->

    </article>
  {{ end }}

{{ end }}
